<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
</head>

<body>
	<!-- Login Form start -->
	<div align="center" class="container">
		<h1 style="color:black;"><font size="10">Login Form</font></h1>
		<p>Please Fill Out The Following Information</p>

	<hr>
	<div align="center">
		<!-- On submit call PHP script pageHandler.php -->
		<form method="POST" action="loginHandler.php">
				<!-- UserName -->
			<label>Username*</label><br/>
			<input name="username" type="text" required /><br/>
				<!-- Password -->
			<label>Password*</label><br/>
			<input name="password" type="password" required /><br/>
			<button type="submit" name="submit">Sign in</button>	
		<hr>
		</form>
	<!-- Login Form end -->
	</div>
	</div>
</body>
</html>